<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--        All these properties are data-base dependent-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/quadwave</property>
        <property name="connection.username">root</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--#update will create a table only for once if we write
        #create instead of update so the table will create again and again-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.entities.Employee"/>
        <mapping class="com.entities.emp_lookup"/>
    </session-factory>
</hibernate-configuration>


        <!--hibernate.cfg.xml is the name of this file and this is the convention to write the name this hibernate-configuration xml file-->